body {
    font-family: Arial, sans-serif;
    background-color: #e0c2c0;
    padding: 20px;
}

h1 {
    color: #000000;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: #000000;
    font-size: 30px;
    text-align: center;
}

p {
    color: #000000;
    font-size: 18px;
    text-align: center;
}

.primary-btn {
    background-color: #950909;
    color: #ffffff;
    border: #ffffff, solid 1px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


.primary-btn:hover {
    background-color: #2980b9;
}

.link-btn {
    background-color: #950909;
    color: #ffffff;
    border: #ffffff, solid 1px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin: auto;
    width: 200px;
    text-align: center;
}
